listening-port={{ coturn_listen_port }}
tls-listening-port={{ coturn_tls_listen_port }}

fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret={{ coturn_password }}
realm={{ coturn_realm }}

log-file=stdout
simple-log

total-quota=100
user-quota=12
bps-capacity=0
stale-nonce=600

listening-ip=0.0.0.0

external-ip={{ coturn_external_ip }}

# Security
no-multicast-peers
no-cli
no-software-attribute
denied-peer-ip=0.0.0.0-255.255.255.255