{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "{{ element_base_url }}",
      "server_name": "{{ element_server_name }}"
    },
    "m.identity_server": {
      "base_url": "https://vector.im"
    }
  },
  "turn_servers": [
    {
      "urls": [
        "turn:matrix.local?transport=udp",
        "turn:matrix.local?transport=tcp"
      ],
      "secret": "{{ coturn_password }}",
      "expiry": 86400000
    }
  ]
}
