# Server basic config
server_name: "{{ synapse_server_name }}"
pid_file: /data/homeserver.pid

# Data storage with SQLite
database:
  name: sqlite3
  args:
    database: /data/homeserver.db


# TLS disabled (handled by NGINX reverse proxy)
tls_certificate_path: ""
tls_private_key_path: ""
no_tls: true

# Listeners
listeners:
  - port: 8008
    type: http
    tls: false
    bind_addresses: ['0.0.0.0']
    resources:
      - names: [client, federation]
        compress: true

# Public base URL (used by Element and links)
public_baseurl: "https://{{ synapse_server_name }}/"

# TURN Server (Coturn)
turn_uris:
  - "turn:matrix.local?transport=udp"
  - "turn:matrix.local?transport=tcp"
turn_shared_secret: "{{ coturn_password }}"
turn_user_lifetime: 86400000
turn_allow_guests: true

# Registration
enable_registration: true

# Trusted Key Servers (default is matrix.org)
trusted_key_servers:
  - server_name: "{{ synapse_server_name }}"

# Media config
media_store_path: /data/media_store

# Appservice & Integration
enable_search: true
enable_metrics: true

# Enable or disable sending anonymous usage stats to the Matrix project
report_stats: false

macaroon_secret_key: "{{ random_secret_key }}"
enable_registration_without_verification: true
